{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Логин</title>
    <link rel="shortcut icon" href="{% static "img/tab_icon.ico" %}" type="image/x-icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static "css/my.css" %}" type="text/css">
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark sticky-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="/" class="navbar-brand">
                    <img src="{% static "img/icon.png" %}">
                </a>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 my-5">
                <h1>Log-in</h1>
                {% if form.errors %}
                    <p>Вы ввели неправильный логин или пароль</p>
                {% else %}
                    <a href="{% url "register" %}">Не зарегистрированы?</a>
                    <p>Пожалуйста, используйте следующую форму для авторизации:</p>
                {% endif %}
                <form action="{% url 'login' %}" method="post">
                    {{ form.as_p }}
                    {% csrf_token %}
                    <input type="hidden" name="next" value="{{ next }}" />
                    <p><input type="submit" value="Log-in"></p>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</body>
</html>