{% extends "base.html" %}
{% block title %}Текущие заявки{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h1 class="display-4">Текущие заявки</h1>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <th scope="col">#</th>
                            <th scope="col">Топливо</th>
                            <th scope="col">Дата заказа</th>
                            <th scope="col">Дата взятия</th>
                            <th scope="col">Клиент</th>
                            <th scope="col">Объем</th>
                            <th scope="col">Адрес</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for req in curr_reqs %}
                            <tr>
                                <td class="text-center">
                                    <img src="{{ req.order.fuel.image.url }}" width="88">
                                </td>
                                <td class="text-center">
                                    {{ req.order.fuel }}
                                </td>
                                <td class="text-center">
                                    {{ req.order.date }}
                                </td>
                                <td class="text-center">
                                    {{ req.date }}
                                </td>
                                <td class="text-center">
                                    {{ req.order.client }}
                                </td>
                                <td class="text-center">
                                    {{ req.order.volume }}
                                </td>
                                <td class="text-center">
                                    {{ req.order.address }}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}