{% extends "base.html" %}
{% load static %}
{% block title %}Личный кабинет{% endblock %}
{% block navigation %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
            <li class="nav_item">
                <a href="/categories/" class="nav-link mr-5">Каталог</a>
            </li>
            <li class="nav_item">
                <a href="logout/" class="nav-link nav-link btn btn-info"><font color="white"><strong>Выйти</strong></font></a>
            </li>
        </ul>
    </div>
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h1 class="display-4">Личный кабинет ({{ group.name }})</h1>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6 text-center">
                <h3 class="my-5" style="fonts">Добро пожаловать, {{ name }}!</h3>
                <div class="MyMenu mx-3 my-3">
                    <a href="new_orders/" class="btn btn-light" id="MyButton1">
                        <br>
                        <img src="{% static "img/cur_list.png" %}" width="100">
                        <p class="my-4">Новые заказы</p>
                    </a>
                </div>
                <div class="MyMenu mx-3 my-3">
                    <a href="my_req/" class="btn btn-light" id="MyButton1">
                        <br>
                        <img src="{% static "img/mylist.png" %}" width="100">
                        <p class="my-4">Мои текущие заявки</p>
                    </a>
                </div>
                <div class="MyMenu mx-3 my-3">
                    <a href="made_req/" class="btn btn-light" id="MyButton1">
                        <br>
                        <img src="{% static "img/list.png" %}" width="100">
                        <p class="my-4">Завершенные заявки</p>
                    </a>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
{% endblock %}